@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Projeto .net core<br />
    brazil, 9999999-BR<br />
    <abbr title="Phone">P:</abbr>
    (16)9999-9999
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">suporte@exemplo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@exemplo.com</a>
</address>
